<div ng-include src="'shared/components/navigation.html'"></div>

<div class="inner-wrapper">
    <ul class="list-inline">
        <li><a href="#!/viewClasses">View Classes</a></li>
        <li><a href="#!/viewClassStudents">View Class Students</a></li>
        <li><a href="#!/viewClassIssues">View Class Issues</a></li>
        <li><a href="#!addClasses">Add Classes</a></li>
    </ul>

    <center>
    <p>View Class Students</p>
    <!-- begin search table section -->
    <button class="btn-danger" ng-click="ctrl.deleteSelected()" ng-show="ctrl.anySelected()">Delete Selected</button>
    
    <!-- filtering section for searching -->
    <form class="form-inline">
    <div class="form-group">
        <input class="form-control input-sm" placeholder="Class Name" type="text" ng-model="ctrl.classFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssClassName)">/\</button>
        <input class="form-control input-sm" placeholder="Student Name" type="text" ng-model="ctrl.studentFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssStudentName)">/\</button>
        <input class="form-control input-sm" placeholder="Grade" type="text" ng-model="ctrl.gradeFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssGrade)">/\</button>
    </div>
    </form>

    <!-- query result/data table -->
    <div class="queryTable">
        <table class="table">
            <thead>
                <td><input type="checkbox" ng-model="ctrl.allToggled" ng-click="ctrl.changeSelectionStatusAll()"/></td>
                <th>Class Name</th>
                <th>Student Name</th>
                <th>Grade</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in ctrl.filteredQuery | orderBy: ctrl.getSortBy()" ng-mouseover="ctrl.changeActive(row)" ng-mouseleave="ctrl.clearActive()" ng-click="ctrl.changeSelectionStatus(row)" ng-include="ctrl.getTemplate(row)" ng-form="rowForm" /> </tr>
            </tbody>
        </table>
    </div>

    </center>
</div>


<!-- Template Scripts -->

<script type="text/ng-template" id="display">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.class_student_ID]" /></td>
    <td>{{row.className}}</td>
    <td>{{row.studentName}}</td>
    <td>{{row.grade}}</td>

</script>

<script type="text/ng-template" id="selected">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.class_student_ID]" /></td>
    <td>{{row.className}}</td>
    <td>{{row.studentName}}</td>
    <td>{{row.grade}}</td>

    <td><button class="btn-primary btn-xs" ng-click="ctrl.changeEditable()">Edit</button></td>
    

</script>


<script type="text/ng-template" id="edit">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.class_student_ID]" /></td>
    <td>
        <input type="text" class="form-control form-control-sm" name="classNameField" ng-model="ctrl.activeRow.className" required />
        <p ng-show="rowForm.classNameField.$invalid">Required</p>
        <p ng-show="!ctrl.classUpdateValid">Class does not exist</p>
    </td>
    <td>
        <input class="form-control form-control-sm" type="text" name="studentNameField" ng-model="ctrl.activeRow.studentName" required />
        <p ng-show="rowForm.studentNameField.$invalid">Required</p>
        <p ng-show="!ctrl.studentUpdateValid">Student does not exist</p>
    </td>
    <td>{{row.grade}}</td>
    <!-- Control cell -->
    <td>
        <!-- Do you need to pass user here? -->
        <button class="btn-primary btn-xs" ng-click="ctrl.saveSelected(row)" ng-disabled="rowForm.$invalid">Save</button>
        <button class="btn btn-xs" ng-click="ctrl.clearEditable()">Cancel</button>
        
    </td>

</script>