<div ng-include src="'shared/components/navigation.html'"></div>
<div class="inner-wrapper">
    <ul class="list-inline">
        <li><a href="#!summary">Weekly Summary</a></li>
    </ul>

<center>
    <p>Weekly Summary</p>
    <!-- Date selector -->
    <!-- Not deployed unless UIB date picker implemented -->
    <form class="form-inline">
        <div class="form-group">
            <label>Start Date</label><input type="text" class="form-control input-sm" ng-model="ctrl.startDate" ng-change="ctrl.filterQuery()" />
            <label>End Date</label><input type="text" class="form-control input-sm" ng-model="ctrl.endDate" ng-change="ctrl.filterQuery()" />
        </div>  
    </form>

    <br>

    <!-- query result/data table -->
    <div class="queryTable">
        <table class="table">
            <thead>
                <th>Student Name</th>
                <th>Grade</th>
                <th>Issue</th>
                <th>Redemption Code</th>
                <th>Book Name</th>
                <th>Class Name</th>
                <th>Redemption Date</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in ctrl.filteredQuery | orderBy: ctrl.getSortBy()" ng-mouseover="ctrl.changeActive(row)" ng-mouseleave="ctrl.clearActive()" ng-click="ctrl.changeSelectionStatus(row)" ng-include="ctrl.getTemplate(row)" ng-form="rowForm" /> </tr>
            </tbody>
        </table>
    </div>

    </center>

</div>

<!-- Templates -->

<script type="text/ng-template" id="display">

    <!-- data cells -->
    <td>{{row.studentName}}</td>
    <td>{{row.grade}}</td>
    <td>{{row.issue_ID}}</td>
    <td>{{row.redemptionCode}}</td>
    <td>{{row.bookName}}</td>
    <td>{{row.className}}</td>
    <td>{{row.date}}</td>

</script>

<script type="text/ng-template" id="selected">

    <!-- data cells -->
    <td>{{row.studentName}}</td>
    <td>{{row.grade}}</td>
    <td>{{row.issue_ID}}</td>
    <td>{{row.redemptionCode}}</td>
    <td>{{row.bookName}}</td>
    <td>{{row.className}}</td>
    <td>{{row.date}}</td>
    

</script>