<div ng-include src="'shared/components/navigation.html'"></div>
<div class="inner-wrapper">
    <ul class="list-inline">
        <li><a href="#!viewRedemptions">View Redemptions</a></li>
    </ul>

<center>
    <p>View Redemptions</p>

    <form class="form-inline">
    <label>Start Date</label>
    <input type="text" class="form-control input-sm" ng-model="ctrl.startDate" ng-change="ctrl.filterQuery()"/>
    <label>End Date</label>
    <input type="text" class="form-control input-sm" ng-model="ctrl.endDate" ng-change="ctrl.filterQuery()"/>
    </form>

    <!-- begin search table section -->
    <button class="btn-danger" ng-click="ctrl.deleteSelected()" ng-show="ctrl.anySelected()">Delete Selected</button>
    
    <br>
    <!-- filtering section for searching -->
    <form class="form-inline">
    <div class="searchBar">
        <input class="form-control input-sm" placeholder="Student Name" type="text" ng-model="ctrl.studentFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssStudentName)">/\</button>
        <input class="form-control input-sm" placeholder="Grade" type="text" ng-model="ctrl.gradeFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssGrade)">/\</button>
        <input class="form-control input-sm" placeholder="Issue" type="text" ng-model="ctrl.issueFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssIssue)">/\</button>

        <input class="form-control input-sm" placeholder="Redemption Code" type="text" ng-model="ctrl.redemptionCodeFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssRedemptionCode)">/\</button>

        <input class="form-control input-sm" placeholder="Book" type="text" ng-model="ctrl.bookFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssBook)">/\</button>
        <input class="form-control input-sm" placeholder="Class Name" type="text" ng-model="ctrl.classFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssClassName)">/\</button>
        <input class="form-control input-sm" placeholder="Date" type="text" ng-model="ctrl.dateFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssDate)">/\</button>
    </div>
    </form>

    <!-- Date selector -->
    <!-- Not deployed unless UIB date picker implemented -->
    <!-- <div>
        <label>Start Date</label>
        <label>End Date</label>
    </div> -->

    <!-- query result/data table -->
    <div class="queryTable">
        <table class="table">
            <thead>
                <td><input type="checkbox" ng-model="ctrl.allToggled" ng-click="ctrl.changeSelectionStatusAll()"/></td>
                <th>Student Name</th>
                <th>Grade</th>
                <th>Issue</th>
                <th>Redemption Code</th>
                <th>Book Name</th>
                <th>Class Name</th>
                <th>Redemption Date</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in ctrl.filteredQuery | orderBy: ctrl.getSortBy()" ng-mouseover="ctrl.changeActive(row)" ng-mouseleave="ctrl.clearActive()" ng-click="ctrl.changeSelectionStatus(row)" ng-include="ctrl.getTemplate(row)" ng-form="rowForm" /> </tr>
            </tbody>
        </table>
    </div>

    </center>

</div>

<!-- Templates -->

<script type="text/ng-template" id="display">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.redemption_ID]" /></td>
    <td>{{row.studentName}}</td>
    <td>{{row.grade}}</td>
    <td>{{row.issue_ID}}</td>
    <td>{{row.redemptionCode}}</td>
    <td>{{row.bookName}}</td>
    <td>{{row.className}}</td>
    <td>{{row.date}}</td>

</script>

<script type="text/ng-template" id="selected">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.redemption_ID]" /></td>
    <td>{{row.studentName}}</td>
    <td>{{row.grade}}</td>
    <td>{{row.issue_ID}}</td>
    <td>{{row.redemptionCode}}</td>
    <td>{{row.bookName}}</td>
    <td>{{row.className}}</td>
    <td>{{row.date}}</td>

    <!-- <td>{{ctrl.activeRow.redemption_ID}}</td> -->
    

</script>