<div ng-include src="'shared/components/navigation.html'"></div>

<div class="inner-wrapper">
    <ul class="list-inline">
        <li><a href="#!/viewClasses">View Classes</a></li>
        <li><a href="#!/viewClassStudents">View Class Students</a></li>
        <li><a href="#!/viewClassIssues">View Class Issues</a></li>
        <li><a href="#!addClasses">Add Classes</a></li>
    </ul>
    

    <center>
    <p>View Class Issues</p>
    <!-- begin search table section -->
    <button class="btn-danger" ng-click="ctrl.deleteSelected()" ng-show="ctrl.anySelected()">Delete Selected</button>
    
    <!-- filtering section for searching -->
    <form class="form-inline">
    <div class="form-group">
        <input class="form-control input-sm" placeholder="Book Issue" type="text" ng-model="ctrl.issueFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssIssue_ID)">/\</button>

        <input class="form-control input-sm" placeholder="Redemption Code" type="text" ng-model="ctrl.redemptionCodeFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssRedemptionCode)">/\</button>

        <input class="form-control input-sm" placeholder="Book Name" type="text" ng-model="ctrl.bookFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssBookName)">/\</button>

        <input class="form-control input-sm" placeholder="Class Name" type="text" ng-model="ctrl.classFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssClassName)">/\</button>
    </div>
    </form>

    <!-- query result/data table -->
    <div class="queryTable">
        <table class="table">
            <thead>
                <td><input type="checkbox" ng-model="ctrl.allToggled" ng-click="ctrl.changeSelectionStatusAll()"/></td>
                <th>Book Issue</th>
                <th>Redemption Code</th>
                <th>Book Name</th>
                <th>Class Name</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in ctrl.filteredQuery | orderBy: ctrl.getSortBy()" ng-mouseover="ctrl.changeActive(row)" ng-mouseleave="ctrl.clearActive()" ng-click="ctrl.changeSelectionStatus(row)" ng-include="ctrl.getTemplate(row)" ng-form="rowForm" /> </tr>
            </tbody>
        </table>
    </div>

    </center>
</div>


<!-- Template Scripts -->

<script type="text/ng-template" id="display">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.issue_ID]" /></td>
    <td>{{row.issue_ID}}</td>
    <td>{{row.redemptionCode}}</td>
    <td>{{row.bookName}}</td>
    <td>{{row.className}}</td>

</script>

<script type="text/ng-template" id="selected">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.issue_ID]" /></td>
    <td>{{row.issue_ID}}</td>
    <td>{{row.redemptionCode}}</td>
    <td>{{row.bookName}}</td>
    <td>{{row.className}}</td>

    <td><button class="btn-primary btn-xs" ng-click="ctrl.changeEditable()">Edit</button></td>
    

</script>


<script type="text/ng-template" id="edit">

    <!-- Redemption Code, BookName, ClassName,  RedemptionStatus-->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.issue_ID]" /></td>
    <td>{{row.issue_ID}}</td>
    <td>
        <input type="text" class="form-control form-control-sm" name="redemptionCodeField" ng-model="ctrl.activeRow.redemptionCode" required />
        <p ng-show="rowForm.redemptionCodeField.$invalid">Required</p>
    </td>
    <!-- data cells -->
    <td>
        <input type="text" class="form-control form-control-sm" name="bookNameField" ng-model="ctrl.activeRow.bookName" required />
        <p ng-show="rowForm.bookNameField.$invalid">Required</p>
        <p ng-show="!ctrl.bookUpdateValid">Book does not exist</p>
    </td>

    <td>
        <input type="text" class="form-control form-control-sm" name="classNameField" ng-model="ctrl.activeRow.className" required />
        <p ng-show="rowForm.classNameField.$invalid">Required</p>
        <p ng-show="!ctrl.classUpdateValid">Class does not exist</p>
    </td>
    <!-- Control cell -->
    <td>
        <!-- Do you need to pass user here? -->
        <button class="btn-primary btn-xs" ng-click="ctrl.saveSelected(row)" ng-disabled="rowForm.$invalid">Save</button>
        <button class="btn btn-xs" ng-click="ctrl.clearEditable()">Cancel</button>
        
    </td>

</script>