<div ng-include src="'shared/components/navigation.html'"></div>
<div class="inner-wrapper">
        <ul class="list-inline">
            <li><a href="#!/viewClasses">View Classes</a></li>
            <li><a href="#!/viewClassStudents">View Class Students</a></li>
            <li><a href="#!/viewClassIssues">View Class Issues</a></li>
            <li><a href="#!addClasses">Add Classes</a></li>
        </ul>
        

    <center>
        <p>View Classes</p>
        <!-- begin search table section -->
        <button class="btn-danger" ng-click="ctrl.deleteSelected()" ng-show="ctrl.anySelected()">Delete Selected</button>
        
        <!-- filtering section for searching -->
        <form class="form-inline">
        <div class="searchBar">
            <input class="form-control input-sm" place-holder="Class ID" type="text" ng-model="ctrl.class_IDFilter" ng-change="ctrl.filterQuery()" />
            <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssClass_ID)">/\</button>
            <input class="form-control input-sm" place-holder="Class Name" type="text" ng-model="ctrl.classFilter" ng-change="ctrl.filterQuery()" />
            <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssClassName)">/\</button>
        </div>
        </form>
    
        <!-- filtered query table -->
            <table class="table">
                <thead>
                    <td><input type="checkbox" ng-model="ctrl.allToggled" ng-click="ctrl.changeSelectionStatusAll()"/></td>
                    <th>Class ID</th>
                    <th>Class Name</th>
                </thead>
                <tbody>
                    <tr ng-repeat="row in ctrl.filteredQuery | orderBy: ctrl.getSortBy()" ng-mouseover="ctrl.changeActive(row)" ng-mouseleave="ctrl.clearActive()" ng-click="ctrl.changeSelectionStatus(row)" ng-include="ctrl.getTemplate(row)" ng-form="rowForm" /> </tr>
                </tbody>
            </table>
    
        </center>

</div>


<script type="text/ng-template" id="display">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.class_ID]" /></td>
    <td>{{row.class_ID}}</td>
    <td>{{row.className}}</td>

</script>

<script type="text/ng-template" id="selected">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.class_ID]" /></td>
    <td>{{row.class_ID}}</td>
    <td>{{row.className}}</td>

    <td><button class="btn-primary btn-xs" ng-click="ctrl.changeEditable()">Edit</button></td>
    

</script>


<script type="text/ng-template" id="edit">

    <!-- Redemption Code, className, ClassName,  RedemptionStatus-->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.class_ID]" /></td>
    <td>
        {{row.class_ID}}
    </td>
    <!-- data cells -->
    <td>
        <input type="text" class="form-control form-control-sm" name="classNameField" ng-model="ctrl.activeRow.className" required />
        <p ng-show="rowForm.classNameField.$invalid"></p>
        <p ng-show="rowForm.classNameField.$invalid">Required</p>
    </td>

    <!-- Control cell -->
    <td>
        <!-- Do you need to pass user here? -->
        <button class="btn-primary btn-xs" ng-click="ctrl.saveSelected(row)" ng-disabled="rowForm.$invalid">Save</button>
        <button class="btn btn-xs" ng-click="ctrl.clearEditable()">Cancel</button>
        
    </td>

</script>