<div ng-include src="'shared/components/navigation.html'"></div>
<div class="inner-wrapper">
    <ul class="list-inline">
        <li><a href="#!viewStudents">View Students</a></li>
        <li><a href="#!addStudents">Add Students</a></li>
    </ul>

    <center>
    <p>View Students</p>
    <!-- begin search table section -->
    <button class="btn-danger" ng-click="ctrl.deleteSelected()" ng-show="ctrl.anySelected()">Delete Selected</button>
    
    <!-- filtering section for searching -->
    <form class="form-inline">
    <div class="searchBar">
        <input class="form-control input-sm" placeholder="Student ID" type="text" ng-model="ctrl.student_IDFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssStudent_ID)">/\</button>
        <input class="form-control input-sm" placeholder="Student Name" type="text" ng-model="ctrl.studentFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssStudentName)">/\</button>
        <input class="form-control input-sm" placeholder="Grade" type="text" ng-model="ctrl.gradeFilter" ng-change="ctrl.filterQuery()" />
        <button class="btn btn-sm" ng-click="ctrl.setSort(ctrl.ssGrade)">/\</button>
    </div>
    </form>

    <!-- filtered query table -->
    <div class="queryTable">
        <table class="table">
            <thead>
                <td><input type="checkbox" ng-model="ctrl.allToggled" ng-click="ctrl.changeSelectionStatusAll()"/></td>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Grade</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in ctrl.filteredQuery | orderBy: ctrl.getSortBy()" ng-mouseover="ctrl.changeActive(row)" ng-mouseleave="ctrl.clearActive()" ng-click="ctrl.changeSelectionStatus(row)" ng-include="ctrl.getTemplate(row)" ng-form="rowForm" /> </tr>
            </tbody>
        </table>
    </div>
    </center>
    
</div>



<script type="text/ng-template" id="display">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.student_ID]" /></td>
    <td>{{row.student_ID}}</td>
    <td>{{row.studentName}}</td>
    <td>{{row.grade}}</td>

</script>

<script type="text/ng-template" id="selected">

    <!-- data cells -->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.student_ID]" /></td>
    <td>{{row.student_ID}}</td>
    <td>{{row.studentName}}</td>
    <td>{{row.grade}}</td>

    <td><button class="btn-primary btn-xs" ng-click="ctrl.changeEditable()">Edit</button></td>
    

</script>


<script type="text/ng-template" id="edit">

    <!-- Redemption Code, BookName, ClassName,  RedemptionStatus-->
    <td><input type="checkbox" ng-model="ctrl.selectedRows[row.student_ID]" /></td>
    <td>
        {{row.student_ID}}
    </td>
    <!-- data cells -->
    <td>
        <input type="text" class="form-control form-control-sm" name="studentNameField" ng-model="ctrl.activeRow.studentName" required />
        <p ng-show="rowForm.studentNameField.$invalid">Requried</p>
    </td>

    <td>
        <input type="text" class="form-control form-control-sm" name="gradeField" ng-model="ctrl.activeRow.grade" ng-pattern="/^[0-9]{1,7}$/" ng-class="{'is-invalid': rowForm.gradeField.$invalid}" required />
        <p ng-show="rowForm.gradeField.$error.required">Required</p>
        <p ng-show="rowForm.gradeField.$error.pattern">Grade must be an integer</p>
    </td>
    <!-- Control cell -->
    <td>
        <!-- Do you need to pass user here? -->
        <button class="btn-primary btn-xs" ng-click="ctrl.saveSelected(row)" ng-disabled="rowForm.$invalid">Save</button>
        <button class="btn btn-xs" ng-click="ctrl.clearEditable()">Cancel</button>
        
    </td>

</script>